<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exchange Rates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="site.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script type="module" src="app.js"></script>

    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "<your instrumentation key>"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>

  <body>

    <div class="container" id="app">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h1 class="text-center">Exchange Rates</h1>

                <div class="alert alert-danger" role="alert" v-show="errorMessage">
                    {{errorMessage}}
                </div>

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Rate</th>
                            <th scope="col">1d</th>
                            <th>
                                <select class="form-control form-control-sm" v-model="changePeriod">
                                    <option>1w</option>
                                    <option>1m</option>
                                    <option>3m</option>
                                    <option>6m</option>
                                    <option>1y</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="rate in rates" v-bind:class="{ 'table-danger': rate.outOfDate }">
                            <td v-if="rate.href"><a v-bind:href="rate.href">{{rate.name}}</a></td>
                            <td v-if="!rate.href">{{rate.name}}</td>
                            <td>{{rate.value | round}}</td>
                            <td v-bind:class="[rate.change1Day > 0 ? 'positive-change' : '', rate.change1Day < 0 ? 'negative-change' : '']">
                                {{rate.change1Day | roundedPercentage}}
                            </td>
                            <td v-if="changePeriod === '1w'" v-bind:class="[rate.change1Week > 0 ? 'positive-change' : '', rate.change1Week < 0 ? 'negative-change' : '']">
                                {{rate.change1Week | roundedPercentage}}
                            </td>
                            <td v-if="changePeriod === '1m'" v-bind:class="[rate.change1Month > 0 ? 'positive-change' : '', rate.change1Month < 0 ? 'negative-change' : '']">
                                {{rate.change1Month | roundedPercentage}}
                            </td>
                            <td v-if="changePeriod === '3m'" v-bind:class="[rate.change3Months > 0 ? 'positive-change' : '', rate.change3Months < 0 ? 'negative-change' : '']">
                                {{rate.change3Months | roundedPercentage}}
                            </td>
                            <td v-if="changePeriod === '6m'" v-bind:class="[rate.change6Months > 0 ? 'positive-change' : '', rate.change6Months < 0 ? 'negative-change' : '']">
                                {{rate.change6Months | roundedPercentage}}
                            </td>
                            <td v-if="changePeriod === '1y'" v-bind:class="[rate.change1Year > 0 ? 'positive-change' : '', rate.change1Year < 0 ? 'negative-change' : '']">
                                {{rate.change1Year | roundedPercentage}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>{{updateTimeMessage}}</p>

                <button class="btn btn-primary" 
                   v-on:click="getRates"
                   v-bind:disabled="requesting">
                    {{requesting ? 'Updating...' : 'Update'}}
                </button>

            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
  </body>
</html>